:root {
    --header-height: 64px;
    --header-blur: 20px;
    --page-padding-inline: 24px;
    --page-padding-block: 64px;
    --page-padding-left: max(env(safe-area-inset-left),var(--page-padding-inline));
    --page-padding-right: max(env(safe-area-inset-right),var(--page-padding-inline));
    --page-max-width: 1024px;
    --prose-max-width: 624px;
    --grid-columns: 12;
    --layer-max: 10000;
    --layer-debug: 5100;
    --layer-skip-nav: 5000;
    --layer-context-menu: 1200;
    --layer-tooltip: 1100;
    --layer-toasts: 800;
    --layer-dialog: 700;
    --layer-dialog-overlay: 699;
    --layer-command-menu: 650;
    --layer-popover: 600;
    --layer-overlay: 500;
    --layer-header: 100;
    --layer-scrollbar: 75;
    --layer-footer: 50;
    --layer-3: 3;
    --layer-2: 2;
    --layer-1: 1;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-24: 24px;
    --radius-32: 32px;
    --radius-rounded: 9999px;
    --radius-circle: 50%;
    --border-hairline: 1px;
    --font-serif-display: "Tiempos Headline",ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
    --font-monospace: "Berkeley Mono",ui-monospace,"SF Mono","Menlo",monospace;
    --font-regular: "Inter Variable","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
    --font-emoji: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","Twemoji Mozilla","Noto Color Emoji","Android Emoji";
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 510;
    --font-weight-semibold: 590;
    --font-weight-bold: 680;
    --speed-highlightFadeIn: 0s;
    --speed-highlightFadeOut: .15s;
    --speed-quickTransition: .1s;
    --speed-regularTransition: .25s;
    --mask-visible: black;
    --mask-on: black;
    --mask-ease: rgba(0,0,0,.2);
    --mask-invisible: transparent;
    --mask-off: transparent;
    --shadow-none: 0px 0px 0px transparent;
    --shadow-tiny: var(--shadow-none);
    --shadow-low: var(--shadow-none);
    --shadow-medium: var(--shadow-none);
    --shadow-high: var(--shadow-none);
    --rounded-full: 9999px;
    --transparent: rgba(255,255,255,0);
    --min-tap-size: 44px;
    --dvh: 1vh;
    --100dvh: calc(100*var(--dvh));
    --svh: 1vh;
    --100svh: calc(100*var(--svh));
    --1fr: minmax(0,1fr);
    --scrollbar-color: rgba(255,255,255,.1);
    --scrollbar-color-hover: rgba(255,255,255,.2);
    --scrollbar-color-active: rgba(255,255,255,.4);
    --scrollbar-size: 6px;
    --scrollbar-size-active: 10px;
    --scrollbar-gap: 4px;
    --ease-in-quad: cubic-bezier(.55,.085,.68,.53);
    --ease-in-cubic: cubic-bezier(.55,.055,.675,.19);
    --ease-in-quart: cubic-bezier(.895,.03,.685,.22);
    --ease-in-quint: cubic-bezier(.755,.05,.855,.06);
    --ease-in-expo: cubic-bezier(.95,.05,.795,.035);
    --ease-in-circ: cubic-bezier(.6,.04,.98,.335);
    --ease-out-quad: cubic-bezier(.25,.46,.45,.94);
    --ease-out-cubic: cubic-bezier(.215,.61,.355,1);
    --ease-out-quart: cubic-bezier(.165,.84,.44,1);
    --ease-out-quint: cubic-bezier(.23,1,.32,1);
    --ease-out-expo: cubic-bezier(.19,1,.22,1);
    --ease-out-circ: cubic-bezier(.075,.82,.165,1);
    --ease-in-out-quad: cubic-bezier(.455,.03,.515,.955);
    --ease-in-out-cubic: cubic-bezier(.645,.045,.355,1);
    --ease-in-out-quart: cubic-bezier(.77,0,.175,1);
    --ease-in-out-quint: cubic-bezier(.86,0,.07,1);
    --ease-in-out-expo: cubic-bezier(1,0,0,1);
    --ease-in-out-circ: cubic-bezier(.785,.135,.15,.86);
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #4ea7fc;
    --color-red: #eb5757;
    --color-green: #4cb782;
    --color-orange: #fc7840;
    --color-yellow: #f2c94c;
    --color-indigo: #5e6ad2;
    --color-linear-plan: #68cc58;
    --color-linear-build: #d4b144;
    --color-linear-security: #7a7fad;
    --focus-ring-color: var(--color-indigo);
    --focus-ring-width: 2px;
    --focus-ring-offset: 2px;
    --focus-ring-outline: var(--focus-ring-width)solid var(--focus-ring-color);
    --pointer: pointer;
    --cursor-pointer: pointer;
    --cursor-disabled: not-allowed;
    --cursor-tooltip: help;
    --font-size-micro: .6875rem;
    --font-size-microPlus: .6875rem;
    --font-size-mini: .75rem;
    --font-size-miniPlus: .75rem;
    --font-size-small: .8125rem;
    --font-size-smallPlus: .8125rem;
    --font-size-regular: .9375rem;
    --font-size-regularPlus: .9375rem;
    --font-size-large: 1.125rem;
    --font-size-largePlus: 1.125rem;
    --font-size-title1: 2.25rem;
    --font-size-title2: 1.5rem;
    --font-size-title3: 1.25rem;
    --title-1: var(--font-weight-semibold)var(--title-1-size)/var(--title-1-line-height)var(--font-regular);
    --title-1-size: 1.0625rem;
    --title-1-line-height: 1.4;
    --title-1-letter-spacing: -.012em;
    --title-2: var(--font-weight-semibold)var(--title-2-size)/var(--title-2-line-height)var(--font-regular);
    --title-2-size: 1.3125rem;
    --title-2-line-height: 1.33;
    --title-2-letter-spacing: -.012em;
    --title-3: var(--font-weight-semibold)var(--title-3-size)/var(--title-3-line-height)var(--font-regular);
    --title-3-size: 1.5rem;
    --title-3-line-height: 1.33;
    --title-3-letter-spacing: -.012em;
    --title-4: var(--font-weight-semibold)var(--title-4-size)/var(--title-4-line-height)var(--font-regular);
    --title-4-size: 2rem;
    --title-4-line-height: 1.125;
    --title-4-letter-spacing: -.022em;
    --title-5: var(--font-weight-semibold)var(--title-5-size)/var(--title-5-line-height)var(--font-regular);
    --title-5-size: 2.5rem;
    --title-5-line-height: 1.1;
    --title-5-letter-spacing: -.022em;
    --title-6: var(--font-weight-semibold)var(--title-6-size)/var(--title-6-line-height)var(--font-regular);
    --title-6-size: 3rem;
    --title-6-line-height: 1.1;
    --title-6-letter-spacing: -.022em;
    --title-7: var(--font-weight-semibold)var(--title-7-size)/var(--title-7-line-height)var(--font-regular);
    --title-7-size: 3.5rem;
    --title-7-line-height: 1.1;
    --title-7-letter-spacing: -.022em;
    --title-8: var(--font-weight-semibold)var(--title-8-size)/var(--title-8-line-height)var(--font-regular);
    --title-8-size: 4rem;
    --title-8-line-height: 1.06;
    --title-8-letter-spacing: -.022em;
    --title-9: var(--font-weight-semibold)var(--title-9-size)/var(--title-9-line-height)var(--font-regular);
    --title-9-size: 4.5rem;
    --title-9-line-height: 1;
    --title-9-letter-spacing: -.022em;
    --text-large: var(--text-large-size)/var(--text-large-line-height)var(--font-regular);
    --text-large-size: 1.0625rem;
    --text-large-line-height: 1.6;
    --text-large-letter-spacing: 0;
    --text-regular: var(--text-regular-size)/var(--text-regular-line-height)var(--font-regular);
    --text-regular-size: .9375rem;
    --text-regular-line-height: 1.6;
    --text-regular-letter-spacing: -.011em;
    --text-small: var(--text-small-size)/var(--text-small-line-height)var(--font-regular);
    --text-small-size: .875rem;
    --text-small-line-height: calc(21/14);
    --text-small-letter-spacing: -.013em;
    --text-mini: var(--text-mini-size)/var(--text-mini-line-height)var(--font-regular);
    --text-mini-size: .8125rem;
    --text-mini-line-height: 1.5;
    --text-mini-letter-spacing: -.01em;
    --text-micro: var(--text-micro-size)/var(--text-micro-line-height)var(--font-regular);
    --text-micro-size: .75rem;
    --text-micro-line-height: 1.4;
    --text-micro-letter-spacing: 0;
    --text-tiny: var(--text-tiny-size)/var(--text-tiny-line-height)var(--font-regular);
    --text-tiny-size: .625rem;
    --text-tiny-line-height: 1.5;
    --text-tiny-letter-spacing: -.015em;
    --cursor-none: none!important
}


[data-theme=dark],[data-theme=light],[data-theme=glass] {
    color: var(--color-text-primary)
}

[data-theme=dark] {  
    --lightningcss-light: ;
    --lightningcss-dark: initial;
    color-scheme: dark;
    --header-bg: rgba(11,11,11,.8);
    --header-border: rgba(255,255,255,.08);
    --color-bg-primary: #08090a;
    --color-bg-secondary: #1c1c1f;
    --color-bg-tertiary: #232326;
    --color-bg-quaternary: #28282c;
    --color-bg-marketing: #010102;
    --color-bg-translucent: rgba(255,255,255,.05);
    --color-bg-quinary: #282828;
    --color-border-primary: #23252a;
    --color-border-secondary: #34343a;
    --color-border-tertiary: #3e3e44;
    --color-border-translucent: rgba(255,255,255,.05);
    --color-text-primary: #f7f8f8;
    --color-text-secondary: #d0d6e0;
    --color-text-tertiary: #8a8f98;
    --color-text-quaternary: #62666d;
    --color-link-primary: #828fff;
    --color-link-hover: #fff;
    --color-brand-bg: #5e6ad2;
    --color-brand-text: #fff;
    --color-selection-text: var(--color-white);
    --color-selection-bg: color-mix(in lch,var(--color-brand-bg),black 10%);
    --color-selection-dim: color-mix(in lch,var(--color-brand-bg),transparent 80%);
    --color-overlay-dim-rgb: 255,255,255;
    --color-overlay-primary: rgba(0,0,0,.9);
    --color-alpha: 255;
    --shadow-low: 0px 2px 4px rgba(0,0,0,.1);
    --shadow-medium: 0px 4px 24px rgba(0,0,0,.2);
    --shadow-high: 0px 7px 32px rgba(0,0,0,.35);
    --shadow-stack-low: 0px 8px 2px 0px transparent,0px 5px 2px 0px rgba(0,0,0,.01),0px 3px 2px 0px rgba(0,0,0,.04),0px 1px 1px 0px rgba(0,0,0,.07),0px 0px 1px 0px rgba(0,0,0,.08);
    --icon-grayscale-image-filter: grayscale(100%)brightness(400%);
    --color-bg-level-0: #08090a;
    --color-bg-level-1: #0f1011;
    --color-bg-level-2: #141516;
    --color-bg-level-3: #191a1b;
    --color-bg-tint: #141516; 
    --color-line-primary: #37393a;
    --color-line-secondary: #202122;
    --color-line-tertiary: #18191a;
    --color-line-quaternary: #141515;
    --color-line-tint: #141516;
    --color-fg-primary: #f7f8f8;
    --color-fg-secondary: #d0d6e0;
    --color-fg-tertiary: #8a8f98;
    --color-fg-quaternary: #62666d;
    --color-accent: #7170ff;
    --color-accent-hover: #828fff;
    --color-accent-tint: #18182f
}

[data-theme=glass] {
    --lightningcss-light: ;
    --lightningcss-dark: initial;
    color-scheme: dark;
    --header-bg: rgba(11,11,11,.8);
    --header-border: rgba(255,255,255,.08);
    --color-bg-primary: #000212;
    --color-bg-secondary: rgba(255,255,255,.03);
    --color-bg-tertiary: rgba(255,255,255,.07);
    --color-bg-quaternary: rgba(255,255,255,.15);
    --color-bg-quinary: rgba(255,255,255,.2);
    --color-border-primary: rgba(255,255,255,.08);
    --color-border-secondary: rgba(255,255,255,.12);
    --color-border-tertiary: rgba(255,255,255,.15);
    --color-text-primary: #f7f8f8;
    --color-text-secondary: #b4bcd0;
    --color-text-tertiary: rgba(180,188,208,.6);
    --color-text-quaternary: rgba(180,188,208,.4);
    --color-link-primary: #828fff;
    --color-link-hover: var(--color-text-primary);
    --color-brand-bg: #5e6ad2;
    --color-brand-text: #fff;
    --color-selection-text: var(--color-white);
    --color-selection-bg: color-mix(in lch,var(--color-brand-bg),transparent 30%);
    --color-selection-dim: color-mix(in lch,var(--color-brand-bg),transparent 80%);
    --color-overlay-dim-rgb: 255,255,255;
    --color-overlay-primary: rgba(0,0,0,.9);
    --color-alpha: 255;
    --color-bg-level-0: #08090a;
    --color-bg-level-1: #0f1011;
    --color-bg-level-2: #141516;
    --color-bg-level-3: #191a1b;
    --color-bg-tint: #141516;
    --shadow-low: 0px 2px 4px rgba(0,0,0,.1);
    --shadow-medium: 0px 4px 24px rgba(0,0,0,.2);
    --shadow-high: 0px 7px 32px rgba(0,0,0,.35);
    --icon-grayscale-image-filter: grayscale(100%)brightness(400%)
}

[data-theme=light] {
    --lightningcss-light: initial;
    --lightningcss-dark: ;
    color-scheme: light;
    --header-bg: rgba(255,255,255,.8);
    --header-border: rgba(0,0,0,.08);
    --color-bg-primary: #fff;
    --color-bg-secondary: #f9f8f9;
    --color-bg-tertiary: #f4f2f4;
    --color-bg-quaternary: #eeedef;
    --color-bg-quinary: #e9e8ea;
    --color-bg-translucent: rgba(0,0,0,.02);
    --color-border-primary: #e9e8ea;
    --color-border-secondary: #e4e2e4;
    --color-border-tertiary: #dcdbdd;
    --color-border-translucent: rgba(0,0,0,.05);
    --color-text-primary: #282a30;
    --color-text-secondary: #3c4149;
    --color-text-tertiary: #6f6e77;
    --color-text-quaternary: #86848d;
    --color-link-primary: #7070ff;
    --color-link-hover: var(--color-text-primary);
    --color-brand-bg: #7070ff;
    --color-brand-text: #fff;
    --color-selection-text: currentColor;
    --color-selection-bg: color-mix(in lch,var(--color-brand-bg),transparent 64%);
    --color-selection-dim: color-mix(in lch,var(--color-brand-bg),transparent 80%);
    --focus-ring-color: rgba(0,0,0,.4);
    --focus-ring-width: 2px;
    --focus-ring-offset: 2px;
    --focus-ring-outline: var(--focus-ring-width)solid var(--focus-ring-color);
    --color-overlay-dim-rgb: 0,0,0;
    --color-overlay-primary: rgba(255,255,255,.65);
    --color-alpha: 0;
    --shadow-tiny: 0px 1px 1px 0px rgba(0,0,0,.09);
    --shadow-low: 0px 1px 4px -1px rgba(0,0,0,.09);
    --shadow-medium: 0px 3px 12px rgba(0,0,0,.09);
    --shadow-high: 0px 7px 24px rgba(0,0,0,.06);
    --shadow-stack-low: 0px -1px 1px 0px rgba(0,0,0,.11) inset,0px 8px 2px 0px transparent,0px 5px 2px 0px rgba(0,0,0,.01),0px 3px 2px 0px rgba(0,0,0,.04),0px 1px 1px 0px rgba(0,0,0,.07),0px 0px 1px 0px rgba(0,0,0,.08);
    --font-weight-normal: 400;
    --font-weight-medium: 510;
    --font-weight-semibold: 590;
    --font-weight-bold: 680;
    --scrollbar-color: rgba(0,0,0,.1);
    --scrollbar-color-hover: rgba(0,0,0,.2);
    --scrollbar-color-active: rgba(0,0,0,.3);
    --icon-grayscale-image-filter: grayscale(100%)brightness(0%);
    --color-bg-level-0: #fff;
    --color-bg-level-1: #f8f8f8;
    --color-bg-level-2: #f4f4f4;
    --color-bg-level-3: #f0f0f0;
    --color-bg-tint: #f4f4f5;
    --color-line-primary: #d4d4d6;
    --color-line-secondary: #eaeaeb;
    --color-line-tertiary: #f0f0f0;
    --color-line-quaternary: #f4f4f4;
    --color-line-tint: #f4f4f5;
    --color-fg-primary: #282a2f;
    --color-fg-secondary: #3c4149;
    --color-fg-tertiary: #6f6e77;
    --color-fg-quaternary: #86848d;
    --color-accent: #7170ff;
    --color-accent-hover: #8989f0;
    --color-accent-tint: #f1f1ff
}
